BasedOnStyle: Google
Language: Cpp
Standard: Latest
ColumnLimit: 106
IndentWidth: 4
TabWidth: 4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
LineEnding: LF
UseCRLF: false
UseTab: Always
InsertNewlineAtEOF: false
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseArrows: true
  AlignCaseColons: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
BinPackArguments: true
BinPackParameters: BinPack
BitFieldColonSpacing: After
BreakAdjacentStringLiterals: false
BreakAfterAttributes: Always
BreakAfterReturnType: ExceptShortType
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Never
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
BreakStringLiterals: false
BreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:        '^<c(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|string|tgmath|time|uchar|wchar|wctype|std(align|arg|bool|def|int|io|lib))>$'
    Priority:     2
  - Regex:        '^<(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|string|tgmath|time|uchar|wchar|wctype|std(align|arg|bool|def|int|io|lib))\.h>$'
    Priority:     2
    SortPriority: 3
  - Regex:        '^<asm/.*\.h>$'
    Priority:     6
  - Regex:        '^<sys/.*\.h>$'
    Priority:     7
  - Regex:        '^<linux/.*\.h>$'
    Priority:     8
  - Regex:        '^<android/.*\.h>$'
    Priority:     9
  - Regex:        '^<.*/.*\.h>$'
    Priority:     10
  - Regex:        '^<.*\.h>'
    Priority:     5
  - Regex:        '^<.*/.*'
    Priority:     4
  - Regex:        '^<.*'
    Priority:     1
  - Regex:        '.*'
    Priority:     11
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: true
IndentPPDirectives: None
IndentRequiresClause: false
InsertBraces: false
InsertTrailingCommas: None
IntegerLiteralSeparator:
  Binary: -1
  Decimal: 4
  Hex:    -1
KeepEmptyLines:
  AtEndOfFile:    false
  AtStartOfBlock: false
  AtStartOfFile:  false
LambdaBodyIndentation: OuterScope
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
PointerAlignment: Left
PPIndentWidth: -1
QualifierAlignment: Custom
QualifierOrder:
  - friend
  - constexpr
  - static
  - inline
  - type
  - const
  - volatile
  - restrict
ReferenceAlignment: Left
ReflowComments: IndentOnly
RemoveBracesLLVM: true
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 0
SkipMacroDefinitionBody: false
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum:  1
  Maximum: -1
SpacesInParens: Never
SpacesInSquareBrackets: false